<!doctype html>
<html lang="en">
<head>
    <!--
        Thank you John W. Long for awesome matrix animation (https://codepen.io/jlong/pen/wciCv)
        Rabbit icon made by Freepik(http://www.freepik.com/) from www.flaticon.com
    -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matrix 404</title>
</head>
<body>
<div id="root">
    <section class="four-o-four">
        <ul class="matrix">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
        <section class="four-o-four-text-container">
            <section class="four-o-four-text"></section>
        </section>
    </section>
    <section class="not-found-container">
        <section class="not-found-text">Page not found</section>
        <section class="not-found-cursor"></section>
    </section>
    <section class="button-container">
            <a
               class="button"
               href="#"
            >
                Follow
                <img
                  src="<%= require('../assets/rabbit_.svg') %>"
                  alt="White rabbit"
                  width="32"
                  height="32"
                  class="rabbit"
                />
            </a>
    </section>
</div>
</body>
</html>